body {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
}

input[type="text"],
select {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: auto;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
  width: auto;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  color: #222;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: auto;
    margin-top: 0;
  }
}
